<div class="container mt-5" style="text-align: center;">
    <img appImage [url]="settings?.site_logo" [size]="'400x200'" [src]="settings?.site_logo" [noCrop]="true" alt="logo" routerLink="/"
        [settings]="settings" style="object-fit: contain; width: 200px; cursor: pointer;">
</div>

<div class="container">
    <div class="leads">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScvDmpj1m_AatTJedaLiCCm5RYtPHrf6QN-VnhsU74V46EseA/viewform?embedded=true"
            width="640" height="1730" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>