<section class="marketplace-categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="marketplace-categories_heading">
                    <h3>{{'categories' | localization | translate}}</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <ng-container *ngIf="!isLoading; else skeleton2">
                        <div class="col-md-3" *ngFor="let category of categories;trackBy:trackByCatFn"
                            (click)="onCategorySelect(category)">
                            <div class="Grocery-outter">
                                <a class="pointer">
                                    <img appImage [url]="category.image" [size]="'255x180'" [src]="category.image"
                                        [settings]="settings" onError="src = './assets/images/placeholder_image.svg';">
                                    <span>{{category.name}}</span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-template #skeleton2>
            <div class="skeleton col-md-4" *ngFor="let supplier of util.generateFakeList(6);trackBy:trackByCatFn">
                <app-landing-cat-skeleton [style]="style" [settings]="settings">
                </app-landing-cat-skeleton>
            </div>
        </ng-template>
    </div>
</section>





<!-- <app-processing-indicator *ngIf="isLoading"></app-processing-indicator> -->