<form id="sadad_payment_form" name="gosadad">
    <input type="hidden" name="merchant_id" id="merchant_id" value="4228604">
    <input type="hidden" name="ORDER_ID" id="ORDER_ID" value="4641">

    <input type="hidden" name="WEBSITE" id="WEBSITE" value="www.example.com">
    <input type="hidden" name="TXN_AMOUNT" id="TXN_AMOUNT" value="50.00">

    <input type="hidden" name="CUST_ID" id="CUST_ID" value="noreply@vivaqatar.app">
    <input type="hidden" name="EMAIL" id="EMAIL" value="noreply@vivaqatar.app">

    <input type="hidden" name="MOBILE_NO" id="MOBILE_NO" value="999999999">
    <input type="hidden" name="SADAD_WEBCHECKOUT_PAGE_LANGUAGE" id="SADAD_WEBCHECKOUT_PAGE_LANGUAGE" value="ENG">

    <input type="hidden" name="CALLBACK_URL" id="CALLBACK_URL" value="http://www.example.com/callback.php">
    <input type="hidden" name="txnDate" id="txnDate" value="2020-09-19 13:01:33">

    <input type="hidden" name="productdetail[0][order_id]" value="4641">
    <input type="hidden" name="productdetail[0][itemname]" value="Sample Product">

    <input type="hidden" name="productdetail[0][amount]" value="50">
    <input type="hidden" name="productdetail[0][quantity]" value="1">

    <input type="hidden" name="productdetail[0][type]" value="line_item">
    <input type="hidden" name="checksumhash"
        value="tNmxyUwb1fsvxuYkIn9llINqMTuqwdraQ52HHORmdRM=">

</form>