.header {
    background: lightgrey;
    padding: 1rem;
    width: 100vh;
    position: absolute;
    left: 0;
    font-size: 24px;
}

.btn-align {
    background: white;
    padding: 1rem;
    width: 100vh;
    position: absolute;
    left: 0;
    font-size: 24px;
    bottom: 120px;
}