<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div class="login-title" [ngClass]="settings?.logo_background_color == 1 ? 'img-bck-auth' : ''">
  <!-- <img [src]="image_paths"> -->
  <app-logo [width]="'auto'" [size]="'380x150'" [height]="100" [logoColor]="style.primaryColor" [logoPadding]="24"
    [logoRadius]="10">
  </app-logo>

  <h2 [attr.title]="siteName" [style.color]="style?.defaultColor">{{siteName}}</h2>
  <!-- <h5 [style.color]="style?.defaultColor">{{'Get the unique products with the best deals' | translate}}</h5> -->
</div>

<div class="login_feilds" *ngIf="!otpView">

  <!-- <app-social-login (closeModal)="closeModal.emit(true)"></app-social-login> -->

  <div class="row mb-3" *ngIf="settings?.phone_registration_flag == 0 && settings?.disable_login_with_phone == 0">
    <div class="col">
      <button class="btn login-type" [ngClass]="{'active': loginType === 'email'}"
        (click)="loginMethod('email')">{{'Email' | translate}}</button>
    </div>
    <div class="col">
      <button class="btn login-type" [ngClass]="{'active': loginType === 'phone'}" (click)="loginMethod('phone')">
        {{'Phone' | translate}}</button>
    </div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="loginType == 'email' && !settings?.enable_signup_phone_only" [style.color]="style?.defaultColor">
      <input (keydown.space)="$event.preventDefault()" type="email" placeholder="{{'Email' | translate}}"
        (focus)="submitted = false" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && userForm.email.errors }">
      <div *ngIf="submitted && userForm.email.errors" class="log-error">
        <div *ngIf="userForm.email.errors.required">{{'Please enter email.' | translate}}</div>
        <div *ngIf="submitted && userForm.email.errors.email">{{'Please enter a valid email.' | translate}}</div>
      </div>
    </div>

    <div *ngIf="loginType == 'phone' || settings?.enable_signup_phone_only">
      <div class="mb-4 signup-phone" *ngIf="settings?.cutom_country_code">
        <div class="input-group">
          <div class="row">
            <div class="col-sm-3">
              <!-- <select class="input-large input-large-altered " formControlName="countryCode">
                <option value="">Select </option>
                <option *ngFor="let opt of preferredCountries" [value]="opt.country_code"><span>{{opt.country_code}}</span>&nbsp;
                  {{opt.country_name | slice:0:7}}</option>
              </select> -->

              <div class="country_dropbox home-page-search-restorent dropdown">
                <a class=" dropdown-toggle pointer" data-toggle="dropdown"><img class="country_flag"
                    *ngIf="countryCodeFlag" src="{{countryCodeFlag}}">
                  <span *ngIf="countryCodeString">{{countryCodeString}}</span>
                  <span *ngIf="!countryCodeString">{{'Select' | translate}}</span>
                  <img src="/assets/images/down_black.png"></a>
                <ul class="dropdown-menu country_text">
                  <li class="pointer"><a *ngFor="let opt of preferredCountries" (click)="setCountryCode(opt)"><img
                        src="{{opt.flag_image}}">
                      <p>{{opt.country_code}}</p>&nbsp;
                      {{opt.country_name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-8" style="margin-left: 26px;">
              <input name="TypeCode" type="text" placeholder="{{'Phone Number' | translate}}"
                [formControlName]="settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber'" />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4 signup-phone" *ngIf="!settings?.cutom_country_code">
        <ngx-intl-tel-input [selectedCountryISO]="countryISO" [preferredCountries]="preferredCountries"
          (focus)="submitted= false" [searchCountryFlag]="true" placeholder="{{'Phone Number' | translate}}"
          [enableAutoCountrySelect]="false" [enablePlaceholder]="true" name="phone" [separateDialCode]="true"
          [phoneValidation]="true"
          [formControlName]="settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber'">
        </ngx-intl-tel-input>
      </div>

      <div *ngIf="submitted && userForm[settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber']?.errors"
        class="log-error">
        <div *ngIf="userForm[settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber']?.errors.required">
          {{'Please enter Phone Number.' | translate}}</div>
        <div
          *ngIf="!userForm[settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber']?.errors.required && userForm[settings?.phone_registration_flag == 0 ? 'phoneNumber': 'mobileNumber']?.invalid">
          {{'Please Enter a Valid Phone Number.' | translate}}</div>
        <div *ngIf="settings?.cutom_country_code && userForm['countryCode']?.errors.required">{{'Please select a country
          code .' | translate}}</div>
      </div>
    </div>

    <div [style.color]="style?.defaultColor" class="password"
      *ngIf="settings?.phone_registration_flag == 0 || loginType == 'email'">
      <input (keydown.space)="$event.preventDefault()" [type]="passwordType" placeholder="{{'Password' | translate}}"
        (focus)="submitted = false" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && userForm.password.errors && (!userForm?.email?.errors || !userForm?.phoneNumber?.errors) }">
      <span>
        <i *ngIf="passwordType == 'password'" (click)="passwordType = 'text'" class="fa fa-eye" aria-hidden="true"></i>
        <i *ngIf="passwordType == 'text'" (click)="passwordType = 'password'" class="fa fa-eye-slash"
          aria-hidden="true"></i>
      </span>
      <div *ngIf="submitted && userForm.password.errors && (!userForm?.email?.errors || !userForm?.phoneNumber?.errors)"
        class="log-error">
        <div *ngIf="submitted && userForm.password.errors.required">{{'Please enter password.' | translate}}</div>
        <div *ngIf="submitted && userForm.password.errors.minlength">
          {{'Password length should be 6-20 digits.' | translate}}</div>
        <div *ngIf="submitted && userForm.password.errors.maxlength">
          {{'Password length should be 6-20 digits.' | translate}}</div>
      </div>
    </div>

    <!-- <div [style.color]="style?.defaultColor" class="name" *ngIf="settings?.phone_registration_flag == 1 && loginType == 'phone'">
      <input (keydown.space)="$event.preventDefault()"  placeholder="{{'name' | translate}}"
        (focus)="submitted = false" formControlName="name" [ngClass]="{ 'is-invalid': submitted && userForm.name.errors}">
    </div> -->

    <a class="forgot-login cursor forgot" [style.color]="style?.primaryColor"
      *ngIf="settings?.phone_registration_flag == 0 || loginType == 'email'" (click)="openForgotPassword()">{{'Forgot
      Password?' | translate}}</a>
    <div class="login-submit">
      <button [ngStyle]="primaryButton" type="submit" class="btn">{{'Login' | translate}}</button>
    </div>

  </form>

  <app-social-login *ngIf="settings?.phone_registration_flag == 0" (closeModal)="closeModal.emit(true)"
    [isSignUp]="false" (onSocialLogin)="onSocialLogin($event)"></app-social-login>

</div>

<div *ngIf="otpView" class="login_feilds">
  <form [formGroup]="otpForm" (ngSubmit)="confirmOTP()" autocomplete="off">

    <input type="text" formControlName="otp" placeholder="OTP" (focus)="otpSubmitted = false" numbersOnly
      [ngClass]="{ 'is-invalid': otpSubmitted && otpfm.otp.errors }">
    <div *ngIf="otpSubmitted && otpfm.otp.errors" class="log-error">
      <div *ngIf="otpfm.otp.errors.required">{{'Please enter OTP.' | translate}}</div>
      <div *ngIf="otpfm.otp.errors.maxlength">{{'Please enter valid OTP.' | translate}}</div>
    </div>

    <div>
      <ng-container [counter]="counter" [interval]="interval" (value)="count = $event">
        <small *ngIf="count > 0" [style.color]="style?.secondaryColor">{{'OTP will be sent shortly time left :' |
          translate}} {{ count |
          formatTime}}
        </small>
        <small *ngIf="count === 0" [style.color]="style?.secondaryColor">{{'Did not receive OTP?' | translate}}
          <a [style.color]="style?.primaryColor" (click)="resendOTP()" class="cursor">{{'Resend OTP' | translate}}</a>
        </small>
      </ng-container>

    </div>
    <div class="login-submit">
      <button [ngStyle]="primaryButton" type="submit" class="btn">{{'Submit' | translate}}</button>
    </div>
  </form>
</div>