.allergy {
    width: 20px;
    height: 26px;
    position: absolute;
    top: 4px;
    right: 25px;
    cursor: pointer;
}
.instruction {
    right: 52px !important;
}
.categories-item-product-detail.product-item p {
    width: 100% !important;
}
.add-btn span {
    cursor: pointer;
}
.add-btn.add_remove1 {
    display: block;
    text-align: right;
    background-color: transparent !important;
    margin-top: 23px;
}
