.main_btn {
    background: var(--primaryColor);
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 8px 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}