:host {
    color: white;
  }

  .home-title {
    padding: 15px 3px 7px;
    margin: 8px -20px;
  }
  .home-title::before {
    content: "";
    background-color: #f60;
    position: absolute;
    left: 0;
    top: .4375em;
    height: .21875em;
    width: 3.75rem;
  }
  
  .product-container {
       background-color: white;
      width: auto;
      border-radius: 6px;
      box-shadow: -1px 0px 6px 2px #ddd1d1;
      margin: 0 auto;
      margin-bottom: 15px;
      padding:  13px 20px;
  }
  
  .img {
    object-fit: contain;
    padding: 10px;
  }
  
  .head {
        display: flex;
      justify-content: flex-end;
      padding: 5px;
  }
  
  .discount {
    color: inherit;
      font-size: 14px;
      font-weight: bold;
      padding: 0px 7px;
      background-color: orange;
      width: 45px;
      margin-bottom: -18px;
  }
  
  .price .price1 {
    color: black;
    font-family: display,Helvetica,Arial,sans-serif;
      font-size: 18px;
      font-weight: 900;
      line-height: 1.5;
  }
  
  .price .price2 {
    color: black;
      font-size: 14px;
      padding: 0px 7px;
  }
  
  .weight-priceUnit {
    font-size: 14px;
    color: grey;
    font-weight: bold;
    font-family: display,Helvetica,Arial,sans-serif;
  }


  .desc {
    display: flex;
    flex-direction: column;
  }

  hr {
    background-color: #00000005;
    width: 100%;
    margin: 0;
  }

  .prod-name {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
  }

  .prod-price {
    font-size: 14px;
    font-weight: bold;
  }

  .img-shadow {
    box-shadow: 6px 2px 8px -9px black;
  }

  #product-detail {
    font-weight: 400;
    color: #4a576c;
  }

  .close span {
    visibility: hidden;
  }

  .right-section::after {
    background-image: linear-gradient(
0deg
,#fff,hsla(0,0%,100%,0)) !important;
    bottom: -.0625rem !important;
    margin-top: -2.75rem !important;
    height: 2.75rem !important;
  }

  .heading {
    font-size: 11px;
    font-weight: bold;
    color: black;
    line-height: 1.2857142857;
    font-family: text,Helvetica,Arial,sans-serif;
  }
  
  .description {
    font-size: 11px;
    color: #4a576c;
    line-height: 1.2857142857;
    font-family: text,Helvetica,Arial,sans-serif;
  }
  
  .sec {
    margin-bottom: 0.5rem;
  }

  @media screen and (max-width: 812px) {
    .product-container {
      background-color: white;
     width: auto;
     border-radius: 6px;
     box-shadow: -1px 0px 6px 2px #ddd1d1;
     justify-content: start;
     margin-bottom: 15px;
     padding:  13px 20px;
 }
  }