<ng-container [ngSwitch]="settings?.app_type">

    <!------------------------------- Home Service------------------------------------>
    <ng-template [ngSwitchCase]="2">
        <div class="royo_recommends discounted-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="home-title" [style.color]="style.primaryColor">
                            {{'popular_products' | localization | translate}} </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="royo_recommends-produ">
            <div class="container">
                <div class="row " *ngIf="!isLoading; else skeleton">
                    <ng-container *ngIf="popularProducts && popularProducts.length; then data else noData">
                    </ng-container>
                    <ng-template #data>
                        <div class="col-md-4 col-lg-3 col-sm-6 Recommends-products"
                            *ngFor="let offer of popularProducts.slice(0,10);trackBy:trackByProductsFn;">
                            <app-product [product]="offer" [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                                (add)="addProduct($event)" (remove)="removeProduct($event)">
                            </app-product>
                        </div>
                    </ng-template>
                    <ng-template #noData>
                        <div class="product-container" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" data-toggle="modal"
                            data-target="#productDescription">
                            <div class="head">
                                <img src="/assets/images/plus.png" alt="" width="15" height="15"
                                    style="    margin-right: -10px;">
                            </div>
                            <div class="img">
                                <img src="https://www.pngitem.com/pimgs/m/160-1607211_dr-ko-product-hd-png-download.png "
                                    alt="" width="100" height="100">
                            </div>
                            <div class="desc">
                                <div>
                                    <span class="discount">20%</span>
                                </div>
                                <br style="padding: 0;">
                                <div class="price">
                                    <span class="price1">430</span><span class="price2">was 600</span>
                                </div>
                                <div>
                                    <span _ngcontent-website-js-c207="" class="weight-priceUnit">500g &nbsp;
                                        8.60/kg</span>
                                </div>
                                <app-quantity-buttons [style]="style" [settings]="settings" @fade>
                                </app-quantity-buttons>
                            </div>
                        </div>
                        <!-- <div class="home-no-data">
                            <h4 [style.color]="style.baseColor">{{'No' | translate}} {{'product' | localization}}
                                {{'Found' | translate}}</h4>
                        </div> -->
                    </ng-template>
                </div>

                <ng-template #skeleton>
                    <div class="skeleton">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 col-sm-6 Recommends-products"
                                *ngFor="let item of utilityService.generateFakeList(10);trackBy:trackByUtilFakeListFn;">
                                <app-product-skeleton [settings]="settings" [style]="style"> </app-product-skeleton>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-template>

    <!------------------------------- Home Service------------------------------------>
    <ng-template [ngSwitchCase]="8">
        <h1 *ngIf="popularProducts && popularProducts.length" [style.color]="style.baseColor"
            style="font-size: 24px; line-height: 40px;">
            {{'Most Booked' | translate}}</h1>
        <ng-container *ngIf="!isLoading; else skeleton">
            <div class="row full_width_mobile" *ngIf="popularProducts && popularProducts.length">
                <div class="col-lg-4 col-md-6 col-6"
                    *ngFor="let product of popularProducts.slice(0,6);trackBy:trackByPopularFn;">
                    <app-product [settings]="settings" [style]="style" [product]="product" [loggedIn]="loggedIn"
                        (add)="addProduct($event)" (remove)="removeProduct($event)">
                    </app-product>
                </div>
            </div>
        </ng-container>

        <ng-template #skeleton>
            <div class="skeleton">
                <div class="row">
                    <div class="col-md-4 col-sm-6"
                        *ngFor="let item of utilityService.generateFakeList(8);trackBy:trackByFakeListFn;">
                        <app-product-skeleton [settings]="settings"></app-product-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>
</ng-container>

<div id="productDescription" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title">Description</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7 img-shadow">
                        <img src="https://www.pngitem.com/pimgs/m/160-1607211_dr-ko-product-hd-png-download.png " alt=""
                            width="100%" height="300">
                    </div>
                    <div class="col-md-5">
                        <div class="right-section" style="max-height: 15rem; overflow-y: scroll;">
                            <span class="prod-name">Garnier Cream</span> <br>
                            <div class="sec">
                                <span class="heading">Category</span><br>
                                <span class="description">Fruits & VegetablesFruitsMelons, Pome Fruits & Other Fruits</span>
                            </div>
                            <div class="sec">
                                <span class="heading">Storage</span><br>
                                <span class="description">Aprikosen sollten nach dem Kauf schnell verbraucht werden, damit das
                                    Fruchtfleisch nicht weich wird und den Geschmack verliert. Vermeiden Sie Kälte. Wenn
                                    es sehr warm ist, können Sie sie 2 bis 3 Tage im Gemüsefach des Kühlschranks
                                    aufbewahren.</span>
                            </div>
                            <div class="sec">
                                <span class="heading">Origin</span><br>
                                <span class="description">Spanien/Italien</span>
                            </div>
                            <div class="sec">
                                <span class="heading">Additional information</span><br>
                                <span class="description">Until the 17th century apricots were considered to be early ripening
                                    peaches. The color of the apricot is a varietal characteristic and not a ripeness
                                    characteristic. Apricots are very sensitive to pressure and impact.</span>
                            </div>
                            <div class="sec">
                                <span class="heading">Useful tips</span><br>
                                <span class="description">In this case, take the apricots out of the refrigerator 20 minutes
                                    before eating them, so that the full flavor can develop.</span>
                            </div>
                            <div class="sec">
                                <span class="heading">Import / Distribution</span><br>
                                <span class="description">
                                    <pre>Migros-Genossenschafts-Bund
Limmatstrasse 152
8031 Zürich</pre>
                                </span>
                            </div>
                            <div class="sec">
                                <span class="heading">Product ID: 6417278</span>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="desc">
                                <div style="color: white;">
                                    <span class="discount">20%</span>
                                </div>
                                <br style="padding: 0;">
                                <div class="price">
                                    <span class="price1">430</span><span class="price2">was 600</span>
                                </div>
                                <div>
                                    <span _ngcontent-website-js-c207="" class="weight-priceUnit">500g &nbsp;
                                        8.60/kg</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-1">
                                    <button type="button" class="btn btn-primary" style="    background-color: rgb(250, 165, 28);
                                    color: rgb(255, 255, 255);
                                    border: rgb(250, 165, 28);">Add to basket</button>
                                    <i class="fa fa-heart" size='12' style="color: grey;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>