<section class="three_btns">
    <div class="container l-m">
        <div class="row">
            <div class="col-sm-9">
                <h3>{{selected_category?.name}}</h3>
                <span>{{categories.length}} Categories</span>
            </div>
            <div class="col-sm-3">
                <div class="btns-sec btns-sec-right">
                    <div class="dropdown">
                        <label class="dropdown">
                            <!-- Sort by: -->
                            <div class="dd-button">{{selectedSorting}}<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                            <input type="checkbox" class="dd-input" id="test">
                            <ul class="dd-menu">
                                <li (click)="onSort(1)">Price: Low to High</li>
                                <li (click)="onSort(0)">Price: High to Low</li>
                                <li (click)="onSort(3)">Popularity</li>
                            </ul>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------tabs section------>
<section class="Categories-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 Categories-box">
                <div style="cursor: pointer;" (click)="selectCategory(category)"
                    [ngClass]="selected_category.id == category.id ? 'box-1 active-1' : 'box-2'"
                    *ngFor="let category of categories">
                    <img [src]="category?.image">
                    <a><span>{{category?.name}} </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-8 Categories-big">
                <img *ngIf="!isLoading" [src]="selected_category?.image" style="height: 424px;">
                <div *ngIf="isLoading" style="width: 100%; height: 424px; background-color: rgb(230, 230, 230);"></div>
                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let subCat of subCategoryAr; let i = index;"
                            [ngClass]="subCat.id == selected_subcat ? 'active' : ''"
                            (click)="selectSubCategory(subCat?.id, i)" style="cursor: pointer;"><a
                                [ngClass]="subCat.id == selected_subcat ? 'active show' : ''">{{subCat?.name}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active show">
                            <div class="row" *ngIf="!isLoading; else skeleton">
                                <div class="col-sm-4"
                                    *ngFor="let product of productList | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.currentPage, totalItems: pagination.count }; let i = index;">
                                    <app-product [product]="product" [style]="style" [settings]="settings"
                                        [darkTheme]="isDarkTheme" [state]="productstate" [loggedIn]="loggedIn"
                                        (add)="addProduct($event)" (remove)="removeProduct($event)">
                                    </app-product>
                                </div>
                            </div>

                            <ng-template #skeleton>
                                <div class="row product-list skeleton">
                                  <div class="col col-md-3 Recommends-products"
                                    *ngFor="let data of util.generateFakeList(8);">
                                    <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
                                  </div>
                                </div>
                              </ng-template>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="productList.length === 0 && noData" class="no-data">
                            <h1 [style.color]="style.baseColor">No {{'products' | localization | translate}} Found</h1>
                        </div>

                        <div class="custom-pagination mt-5 mb-5" *ngIf="pagination.count > pagination.perPage">
                            <pagination-controls responsive="true" [style.color]="style.primaryColor"
                                previousLabel="Prev" nextLabel="Next" (pageChange)="pageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>