<ng-container [ngSwitch]="settings?.selected_template">

  <ng-template [ngSwitchCase]="3" *ngIf="settings?.app_type == 2">
    <div class="banner" [style.direction]="'ltr'" [style.height]="banner_height" *ngIf="!isLoading">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let banner of banners; let i = index;trackBy:trackByBNFn;" class="slide">
          <img class="banner-img" [height]="banner_height" alt="banner"
            [ngClass]="{'pointer': banner.supplier_id && (settings.single_vendor_id == 0)}" appImage
            [url]="banner?.website_image" [size]="'1500x375'" [src]="banner?.website_image"
            [noCrop]="settings?.is_crop_banner == 0 ? true : false"
            onError="src = './assets/images/placeholder_image.svg';" (click)="viewSupplier(banner)">
        </div>
      </ngx-slick-carousel>
    </div>
  </ng-template>




  <ng-template [ngSwitchCase]="5">
    <h1 title="banner" style="display: none;">Banner</h1>

    <div class="banner" [style.direction]="'ltr'" [style.height]="banner_height" *ngIf="!isLoading">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let banner of banners; let i = index;trackBy:trackByBannersDataFn;" class="slide">
          <img class="banner-img" [height]="banner_height" alt="banner"
            [ngClass]="{'pointer': banner.supplier_id && (settings.single_vendor_id == 0)}" appImage
            [url]="banner?.website_image" [size]="'1500x375'" [src]="banner?.website_image"
            [noCrop]="settings?.is_crop_banner == 0 ? true : false"
            onError="src = './assets/images/placeholder_image.svg';" (click)="viewSupplier(banner)">
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="banner" *ngIf="isLoading">
      <div class="skeleton">
        <div style="height: 365px; background-color: #dedfe1"></div>
      </div>
    </div>

    <div *ngIf="!isLoading && !banners.length" class="banner-placeholder"></div>

  </ng-template>



  <ng-template ngSwitchDefault>
    <div class="banner" [style.direction]="'ltr'" [style.height]="banner_height" *ngIf="!isLoading && banners.length">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let banner of banners; let i = index;trackBy:trackByBannersFn;" class="slide">
          <img class="banner-img" [height]="banner_height" [noCrop]="settings?.is_crop_banner == 0 ? true : false"
            alt="banner" [ngClass]="{'pointer': banner.supplier_id && (settings.single_vendor_id == 0)}" appImage
            [url]="is_mobile ? banner?.phone_image : banner?.website_image" [size]="size" [src]="banner?.website_image"
            onError="src = './assets/images/placeholder_image.svg';" (click)="viewSupplier(banner)">
        </div>
      </ngx-slick-carousel>
    </div>
    <div *ngIf="!isLoading && !banners.length" class="banner-placeholder"></div>
  </ng-template>
</ng-container>








<!--================ End Home Banner =================-->