<!-------------------contact us page ------------------>
<section class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-md-6 about_txt">
          <h1 class="about_headnig">About us</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the 
            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-md-6 about_img">
          <img src="assets/images/pickkit/about-img.jpg">
        </div>
      </div>
    </div>
  </section>
  <section class="our_mission">
    <div class="container w-75">
      <div class="row">
        <div class="col-md-12 our_mission_txt text-center">
          <h1 class="about_headnig">Our Mission</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the 
            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </section>
  <section class="our_team">
    <div class="container">
      <div class="row">
        <div class="col-md-12 our_mission_txt text-center">
          <h1 class="about_headnig">The team</h1>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img1.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img2.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img3.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img4.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
      </div>
    </div>
  </section>