<ng-container [ngSwitch]="settings?.app_type">

  <ng-template [ngSwitchCase]="1">

    <!-- <div class="categories-outter">
      <h1 [style.color]="style.baseColor">{{'FILTER BY CATEGORY' | translate}}</h1>
      <ul class="cd-dropdown-content">
  
        <li *ngFor="let data of categoryData; let i = index">
          <a (click)="catSelect(data, true); selectedCategory = data.id" class="cat-name"
            [style.color]="selectedCategory == data.id ? style.primaryColor : style.baseColor">{{data.name}}</a>
  
          <ul class="cd-secondary-dropdown is-hidden fade-out" [style.background-color]="style.cardBackgroundColor"
            *ngIf="subCategoryData.length && subCategoryData[subCatIndex].subCategories.length">
            <button type="button" class="float-right" uk-close (click)="blurEvent()"></button>
  
            <h5 class="go-back mb-3" [style.color]="style.baseColor"><span *ngIf="subCatIndex > 0" (click)="goBack()"
                class="cursor"><a></a></span>
              {{subCategoryData[subCatIndex].categoryName}}</h5>
  
            <li *ngFor="let subCategory of subCategoryData[subCatIndex].subCategories; let j = index">
  
              <a *ngIf="subCategory?.is_cub_category" (click)="catSelect(subCategory, false)"
                [style.color]="style.baseColor">{{subCategory.name}}</a>
  
              <label *ngIf="!subCategory?.is_cub_category" class="cursor sub-cat"
                [style.color]="style.baseColor"><input
                  [ngStyle]="selectedMulSubCat.includes(subCategory?.sub_category_id) ? checkbox : ''"
                  [checked]="selectedMulSubCat.includes(subCategory?.sub_category_id)" class="uk-checkbox"
                  (click)="selectMulSubCat(subCategory)" type="checkbox"> {{subCategory?.name}}</label>
            </li>
            <button class="btn cat-btn" [disabled]="!selectedMulSubCat.length" [ngStyle]="catBtn" (click)="viewProducts()">{{'Done' | translate}}</button>
          </ul>
        </li>
  
      </ul>
    </div> -->

    <span *ngIf="settings?.category_selection == 1 && subCategoryAr.length > 0">
      <div class="gender-size-section mt-3">
        <h2 [style.color]="style.primaryColor">{{'subCategories' | translate}}</h2>
        <ul class="see-all_cls">
          <li *ngFor="let subCat of subCategoryAr; let i = index;trackBy:trackBySubCatFn;">
            <label><input type="checkbox" class="radio-design" [checked]="selectedSubCategory.includes(subCat?.id)"
                (click)="selectSubCategory(subCat?.id, i)">{{subCat?.name}} </label>
          </li>
        </ul>
      </div>
    </span>

    <div id="price_range" class="gender-size-section mt-3">
      <h2 [style.color]="style.primaryColor">{{'Price' | translate}}</h2>
      <!-- <ng5-slider [(value)]="filters.min_price_range" [(highValue)]="filters.max_price_range" [options]="options"
          [ngStyle]="{'backgroundColor': style.primaryColor, 'color': style.baseColor}"></ng5-slider> -->
      <input type="text" placeholder="1000" type="number" min="0"
        (change)="filters?.min_price_range == '' ? filters.min_price_range = 0 : ''"
        [(ngModel)]="filters.min_price_range">
      <input class="ml-2" type="text" placeholder="50000" type="number" min="50000"
        (change)="filters?.max_price_range == '' ? filters.max_price_range = 0 : ''"
        [(ngModel)]="filters.max_price_range">
      <button (click)="filterProducts()" class="go btn"
        [disabled]="filters.max_price_range == 0 && filters.min_price_range == 0"
        [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}">{{'Go'
        | translate}}</button>

    </div>

    <div class="gender-size-section mt-3">
      <label><input class="radio-design" type="checkbox" [checked]="filters.is_discount"
          (change)="onDiscount($event)">{{'Show discounted items only' | translate}}
      </label>
    </div>



    <div *ngIf="settings?.enable_food_varients">
      <div class="E-commerce-Product-filter-outter">
        <h2>Categories</h2>
        <div class="E-commerce-Product-filter-categories" *ngIf="brands.length > 0">
          <h3 [style.color]="style.primaryColor">{{'Brands' | translate}}</h3>
          <ul>
            <li *ngFor="let brand of brands.slice(0,7);trackBy:trackByBrands3DataFn;">
              <input type="checkbox" class="radio-design" [checked]="selectedBrands.includes(brand?.id)"
                (click)="selectBrand(brand?.id, 'min')">
              <span>{{brand?.name}} </span>
            </li>
          </ul>
        </div>
        <div>
          <span *ngIf="variants.length > 0">
            <div class="gender-size-section mt-3" *ngFor="let variant of variants;trackBy:trackByVariants14Fn;">
              <h2 [style.color]="style.primaryColor">{{variant?.variant_name}}</h2>
              <ng-container *ngIf="variant?.variant_type != 1; else color">
                <ul class="see-all_cls">
                  <li *ngFor="let values of variant?.variant_values;trackBy:trackByVariants13Fn;">
                    <label><input class="radio-design" class="radio-design" type="checkbox"
                        [checked]="selectedVariants.includes(values?.id)"
                        (click)="selectVariant(values?.id)">{{values?.value}}</label>
                  </li>
                </ul>
              </ng-container>
              <ng-template #color>
                <div class="flex-container">
                  <div
                    [style.border-color]="selectedVariants.includes(values?.id) ? style.primaryColor : style.baseColor"
                    *ngFor="let values of variant?.variant_values;trackBy:trackByVariants12Fn;"
                    (click)="selectVariant(values?.id)">
                    <span *ngIf="!(values?.value).match(colorPattern)"
                      [style.color]="style.baseColor">{{values?.value}}</span>
                    <div *ngIf="(values?.value).match(colorPattern)" class="color"
                      [style.background-color]="values?.value">
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </span>
        </div>
      </div>

    </div>

  </ng-template>

  <ng-template [ngSwitchCase]="2">

    <ng-container [ngSwitch]="settings?.selected_template">

      <ng-template [ngSwitchCase]="3">
        <div class="left-menu">
          <ul>
            <li [ngClass]="{'active' : selectedCategoryId == cat.id}"
              *ngFor="let cat of categoryData;trackBy:trackByCategoriesFn;">
              <a class="primary_text" (click)="selectCategory(cat)">{{cat?.name}}
                <i class="fa fa-chevron-right" *ngIf="cat?.sub_category.length" aria-hidden="true"></i></a>

              <ul class="secondary" *ngIf="cat?.sub_category.length">
                <li [ngClass]="{'active' : selectedSubCategory.includes(subCat.id)}"
                  *ngFor="let subCat of cat.sub_category;trackBy:trackBySubCategoryFn;">
                  <a (click)="selectSingleSubCategory(cat?.id, subCat?.id)" class="">{{subCat?.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="4">
        <div class="E-commerce-Product-filter-outter">
          <h2>Categories</h2>
          <div class="E-commerce-Product-filter-categories" *ngIf="brands.length > 0">
            <h3 [style.color]="style.primaryColor">{{'Brands' | translate}}</h3>
            <ul>
              <li *ngFor="let brand of brands.slice(0,7);trackBy:trackByBrands2DataFn;">
                <input type="checkbox" [checked]="selectedBrands.includes(brand?.id)"
                  (click)="selectBrand(brand?.id, 'min')">
                <span>{{brand?.name}} </span>
              </li>
            </ul>
          </div>
          <div *ngIf="variants.length > 0">
            <div class="E-commerce-Product-filter-categories"
              *ngFor="let variant of variants;trackBy:trackByVariants11Fn;">
              <h3 [style.color]="style.primaryColor">{{variant?.variant_name}}</h3>
              <ng-container *ngIf="variant?.variant_type != 1; else color">
                <ul>
                  <li *ngFor="let values of variant?.variant_values;trackBy:trackByVariants10Fn;">
                    <input type="checkbox" [checked]="selectedVariants.includes(values?.id)"
                      (click)="selectVariant(values?.id)">
                    <span>{{values?.value}}</span>
                  </li>
                </ul>
              </ng-container>
              <ng-template #color>
                <div class="flex-container">
                  <div
                    [style.border-color]="selectedVariants.includes(values?.id) ? style.primaryColor : style.baseColor"
                    *ngFor="let values of variant?.variant_values;trackBy:trackByVariants9Fn;"
                    (click)="selectVariant(values?.id)">
                    <span *ngIf="!(values?.value).match(colorPattern)"
                      [style.color]="style.baseColor">{{values?.value}}</span>
                    <div *ngIf="(values?.value).match(colorPattern)" class="color"
                      [style.background-color]="values?.value">
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div id="price_range" class="gender-size-section mt-3 E-commerce-Product-filter-categories">
            <h3 [style.color]="style.primaryColor">{{'Price' | translate}}</h3>
            <input type="text" placeholder="1000" type="number" min="0"
              (change)="filters?.min_price_range == '' ? filters.min_price_range = 0 : ''"
              [(ngModel)]="filters.min_price_range">
            <input class="ml-2" type="text" placeholder="50000" type="number" min="50000"
              (change)="filters?.max_price_range == '' ? filters.max_price_range = 0 : ''"
              [(ngModel)]="filters.max_price_range">
            <button (click)="filterProducts()" class="go btn"
              [disabled]="filters.max_price_range == 0 && filters.min_price_range == 0"
              [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}">{{'Go'
              | translate}}</button>

          </div>
          <div class="E-commerce-Product-filter-categories">
            <input class="radio-design" type="checkbox" [checked]="filters.is_discount" (change)="onDiscount($event)">
            <span>{{'Show discounted items only' | translate}}</span>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="3">
        <div class="left-menu">
          <ul>
            <li [ngClass]="{'active' : selectedCategoryId == cat.id}"
              *ngFor="let cat of categoryData;trackBy:trackByCategoryDataFn;">
              <a class="primary_text" (click)="selectCategory(cat)">{{cat?.name}}
                <i class="fa fa-chevron-right" *ngIf="cat?.sub_category.length" aria-hidden="true"></i></a>

              <ul class="secondary" *ngIf="cat?.sub_category.length">
                <li [ngClass]="{'active' : selectedSubCategory.includes(subCat.id)}"
                  *ngFor="let subCat of cat.sub_category;trackBy:trackByCatSubFn;">
                  <a (click)="selectSingleSubCategory(cat?.id, subCat?.id)" class="">{{subCat?.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="4">
        <div class="E-commerce-Product-filter-outter">
          <h2>Categories</h2>
          <div class="E-commerce-Product-filter-categories" *ngIf="brands.length > 0">
            <h3 [style.color]="style.primaryColor">{{'Brands' | translate}}</h3>
            <ul>
              <li *ngFor="let brand of brands.slice(0,7);trackBy:trackByBrand2Fn;">
                <input type="checkbox" [checked]="selectedBrands.includes(brand?.id)"
                  (click)="selectBrand(brand?.id, 'min')">
                <span>{{brand?.name}} </span>
              </li>
            </ul>
          </div>
          <div *ngIf="variants.length > 0">
            <div class="E-commerce-Product-filter-categories"
              *ngFor="let variant of variants;trackBy:trackByVariants8Fn;">
              <h3 [style.color]="style.primaryColor">{{variant?.variant_name}}</h3>
              <ng-container *ngIf="variant?.variant_type != 1; else color">
                <ul>
                  <li *ngFor="let values of variant?.variant_values;trackBy:trackByVariants7Fn;">
                    <input type="checkbox" [checked]="selectedVariants.includes(values?.id)"
                      (click)="selectVariant(values?.id)">
                    <span>{{values?.value}}</span>
                  </li>
                </ul>
                <a *ngIf="brands.length > 7" data-toggle="modal" href="JavaScript:void(0)" class="see-all"
                  data-target="#brandsModal">{{'See More' | translate}}</a>
              </ng-container>
            </div>

            <span *ngIf="variants.length > 0">
              <div class="gender-size-section mt-3" *ngFor="let variant of variants;trackBy:trackByVariants6Fn;">
                <h2 [style.color]="style.primaryColor">{{variant?.variant_name}}</h2>
                <ng-container *ngIf="variant?.variant_type != 1; else color">
                  <ul class="see-all_cls">
                    <li *ngFor="let values of variant?.variant_values;trackBy:trackByVariants5Fn;">
                      <label><input class="radio-design" type="checkbox"
                          [checked]="selectedVariants.includes(values?.id)"
                          (click)="selectVariant(values?.id)">{{values?.value}}</label>
                    </li>
                  </ul>
                </ng-container>
                <!-- <a href="#" class="see-all">See all</a> -->
                <ng-template #color>
                  <div class="flex-container">
                    <div
                      [style.border-color]="selectedVariants.includes(values?.id) ? style.primaryColor : style.baseColor"
                      *ngFor="let values of variant?.variant_values;trackBy:trackByVariants4Fn;"
                      (click)="selectVariant(values?.id)">
                      <span *ngIf="!(values?.value).match(colorPattern)"
                        [style.color]="style.baseColor">{{values?.value}}</span>
                      <div *ngIf="(values?.value).match(colorPattern)" class="color"
                        [style.background-color]="values?.value">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </span>


            <div id="price_range" class="gender-size-section mt-3 E-commerce-Product-filter-categories">
              <h3 [style.color]="style.primaryColor">{{'Price' | translate}}</h3>
              <input type="text" placeholder="1000" type="number" min="0"
                (change)="filters?.min_price_range == '' ? filters.min_price_range = 0 : ''"
                [(ngModel)]="filters.min_price_range">
              <input class="ml-2" type="text" placeholder="50000" type="number" min="50000"
                (change)="filters?.max_price_range == '' ? filters.max_price_range = 0 : ''"
                [(ngModel)]="filters.max_price_range">
              <button (click)="filterProducts()" class="go btn"
                [disabled]="filters.max_price_range == 0 && filters.min_price_range == 0"
                [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}">{{'Go'
                | translate}}</button>

            </div>
            <div class="E-commerce-Product-filter-categories">
              <input class="radio-design" type="checkbox" [checked]="filters.is_discount" (change)="onDiscount($event)">
              <span>{{'Show discounted items only' | translate}}</span>
            </div>
          </div>
        </div>

      </ng-template>

      <ng-template [ngSwitchCase]="5">
        <div class="E-commerce-Product-filter-outter">
          <h2>Filter</h2>
          <hr>
          <p class="result">{{totalResult}} Results</p>

          <span *ngIf="settings?.category_selection == 1 && subCategoryAr.length > 0">
            <div class="gender-size-section mt-3">
              <!-- <h2 [style.color]="style.primaryColor">{{'subCategories' | translate}}</h2> -->
              <ul class="see-all_cls">
                <li *ngFor="let subCat of subCategoryAr; let i = index;trackBy:trackBySubCatFn;">
                  <label><input type="checkbox" class="radio-design"
                      [checked]="selectedSubCategory.includes(subCat?.id)"
                      (click)="selectSubCategory(subCat?.id, i)">{{subCat?.name}} </label>
                </li>
              </ul>
            </div>
          </span>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default" *ngIf="brands.length > 0">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{'Brands' | translate}} <i
                      class="fa fa-angle-down" aria-hidden="true"></i>
                    <p>{{brands[0].name}}</p>
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <label class="container1"
                    *ngFor="let brand of brands.slice(0,7);trackBy:trackByBrandsDataFn;"><span>{{brand?.name}} </span>
                    <input type="radio" name="radio" [checked]="selectedBrands.includes(brand?.id)"
                      (click)="selectBrand(brand?.id, 'min')">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="panel panel-default" *ngIf="variants.length > 0">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{'State'}} <i
                      class="fa fa-angle-down" aria-hidden="true"></i>
                    <p>All</p>
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body" *ngFor="let variant of variants;trackBy:trackByVariants2Fn;">
                  <h3 [style.color]="style.primaryColor" class="mt-0 mb-1">{{variant?.variant_name}}</h3>
                  <ng-container *ngIf="variant?.variant_type != 1; else color">
                    <label class="container1"
                      *ngFor="let values of variant?.variant_values;trackBy:trackByVariants3Fn;">{{values?.value}}
                      <input type="radio" [checked]="selectedVariants.includes(values?.id)"
                        (click)="selectVariant(values?.id)">
                      <span class="checkmark"></span>
                    </label>
                  </ng-container>
                  <ng-template #color>
                    <label class="container1"
                      [style.border-color]="selectedVariants.includes(values?.id) ? style.primaryColor : style.baseColor"
                      *ngFor="let values of variant?.variant_values;trackBy:trackByVariantValuesFn;"
                      (click)="selectVariant(values?.id)">
                      <span *ngIf="!(values?.value).match(colorPattern)"
                        [style.color]="style.baseColor">{{values?.value}}</span>
                      <div *ngIf="(values?.value).match(colorPattern)" class="color"
                        [style.background-color]="values?.value">
                      </div>
                      <span class="checkmark"></span>
                    </label>
                  </ng-template>
                </div>
              </div>
            </div>
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">DESIGNER <i
                      class="fa fa-angle-down" aria-hidden="true"></i>
                    <p>All</p>
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="search1"><input type="text" name="search" placeholder="SEARCH"><i class="fa fa-search"
                      aria-hidden="true"></i></div>
                  <p class="unslect">Unselect all</p>
                  <label class="container2">16URLINGTON
                    <input type="checkbox" checked="checked">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="container2">Alexender Vauthiere
                    <input type="checkbox">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="container2">Alice + Olivia
                    <input type="checkbox">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="container2">Anine Bing
                    <input type="checkbox">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="container2">Apiece Apart
                    <input type="checkbox">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="container2">Ashis
                    <input type="checkbox">
                    <span class="checkmark2"></span>
                  </label>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">CLOTHING SIZE <i
                        class="fa fa-angle-down" aria-hidden="true"></i>
                      <p>All</p>
                    </a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p class="unslect">Unselect all</p>
                    <label class="container2">XXX
                      <input type="checkbox" checked="checked">
                      <span class="checkmark2"></span>
                    </label>
                    <label class="container2">XXS
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                    <label class="container2">XS
                      <input type="checkbox">
                      <span class="checkmark2"></span>
                    </label>
                    <div class="right">
                      <label class="container2">S
                        <input type="checkbox">
                        <span class="checkmark2"></span>
                      </label>
                      <label class="container2">M
                        <input type="checkbox">
                        <span class="checkmark2"></span>
                      </label>
                      <label class="container2">L
                        <input type="checkbox">
                        <span class="checkmark2"></span>
                      </label>
                      <label class="container2">XL
                        <input type="checkbox">
                        <span class="checkmark2"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="E-commerce-Product-filter-categories">
              <label class="container2">{{'Show discounted items only' | translate}}
                <input type="checkbox" type="checkbox" [checked]="filters.is_discount" (change)="onDiscount($event)">
                <span class="checkmark2"></span>
              </label>
            </div>
          </div>
        </div>
      </ng-template>


      <ng-template ngSwitchDefault>
        <span *ngIf="settings?.category_selection == 1 && subCategoryAr.length > 0">
          <div class="gender-size-section mt-3">
            <h2 [style.color]="style.primaryColor">{{'subCategories' | translate}}</h2>
            <ul class="see-all_cls">
              <li *ngFor="let subCat of subCategoryAr;trackBy:trackBySubCategoryArFn;">
                <label><input type="checkbox" class="radio-design" [checked]="selectedSubCategory.includes(subCat?.id)"
                    (click)="selectSubCategory(subCat?.id)">{{subCat?.name}} </label>
              </li>
            </ul>
          </div>
        </span>

        <span *ngIf="brands.length > 0">
          <div class="gender-size-section mt-3">
            <h2 [style.color]="style.primaryColor">{{'Brands' | translate}}</h2>
            <ul class="see-all_cls">
              <li *ngFor="let brand of brands.slice(0,7);trackBy:trackByBrandsFn;">
                <label><input type="checkbox" class="radio-design" [checked]="selectedBrands.includes(brand?.id)"
                    (click)="selectBrand(brand?.id, 'min')">{{brand?.name}} </label>
              </li>
            </ul>
            <a *ngIf="brands.length > 7" data-toggle="modal" href="JavaScript:void(0)" class="see-all"
              data-target="#brandsModal">{{'See More' | translate}}</a>
          </div>
        </span>

        <span *ngIf="variants.length > 0">
          <div class="gender-size-section mt-3" *ngFor="let variant of variants;trackBy:trackByVariantNameFn">
            <h2 [style.color]="style.primaryColor">{{variant?.variant_name}}</h2>
            <ng-container *ngIf="variant?.variant_type != 1; else color">
              <ul class="see-all_cls">
                <li *ngFor="let values of variant?.variant_values;trackBy:trackByVariantValueFn;">
                  <label><input class="radio-design" type="checkbox" [checked]="selectedVariants.includes(values?.id)"
                      (click)="selectVariant(values?.id)">{{values?.value}}</label>
                </li>
              </ul>
            </ng-container>
            <!-- <a href="#" class="see-all">See all</a> -->
            <ng-template #color>
              <div class="flex-container">
                <div [style.border-color]="selectedVariants.includes(values?.id) ? style.primaryColor : style.baseColor"
                  *ngFor="let values of variant?.variant_values;trackBy:trackByVariantsFn;"
                  (click)="selectVariant(values?.id)">
                  <span *ngIf="!(values?.value).match(colorPattern)"
                    [style.color]="style.baseColor">{{values?.value}}</span>
                  <div *ngIf="(values?.value).match(colorPattern)" class="color"
                    [style.background-color]="values?.value">
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </span>

        <div id="price_range" class="gender-size-section mt-3">
          <h2 [style.color]="style.primaryColor">{{'Price' | translate}}</h2>
          <!-- <ng5-slider [(value)]="filters.min_price_range" [(highValue)]="filters.max_price_range" [options]="options"
      [ngStyle]="{'backgroundColor': style.primaryColor, 'color': style.baseColor}"></ng5-slider> -->
          <input type="text" placeholder="1000" type="number" min="0"
            (change)="filters?.min_price_range == '' ? filters.min_price_range = 0 : ''"
            [(ngModel)]="filters.min_price_range">
          <input class="ml-2" type="text" placeholder="50000" type="number" min="50000"
            (change)="filters?.max_price_range == '' ? filters.max_price_range = 0 : ''"
            [(ngModel)]="filters.max_price_range">
          <button (click)="filterProducts()" class="go btn"
            [disabled]="filters.max_price_range == 0 && filters.min_price_range == 0"
            [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}">{{'Go'
            | translate}}</button>

          <div class="gender-size-section mt-3">
            <label><input class="radio-design disc_checkbox" type="checkbox" [checked]="filters.is_discount"
                (change)="onDiscount($event)"><span class="disc_label">{{'Show discounted items only' |
                translate}}</span>
            </label>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </ng-template>
</ng-container>