# registry=https://npm.pkg.github.com/mayank2468
# npm.pkg.github.com/:_authToken=49c7d4e79918d000dd34637df88f8969a81d324b
registry.npmjs.org/:_authToken=56e03f2a-c59f-40ff-8577-53c09b0d57cb
always-auth=true
