.order-request {

    img {
        height: 100px;
        object-fit: contain;
        border: 1px solid #00000040;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    .foot {
        height: 70px;
        border-top: 1px solid #00000029;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}
