.back-instance {
    width: 220px !important;
    left: 0 !important;
    padding: 10px 5px 5px 15px !important;
    border-radius: 0px 4px 0px 0px !important;
    border: 1px solid #00000052;
    cursor: pointer;

    h5 {
        font-size: 16px !important;
    }
}

.cart-icon-right-side {
    background-color: orange;
    color: white;
    height: 45px;
    width: 52px;
    position: absolute;
    top: 6rem;
    right: 0;
    cursor: pointer;
    box-shadow: 1px 1px 12px 5px #c7c780;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 25px 0px 0px 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}