<div class="container"
  *ngIf="(settings?.selected_template == 0 && settings?.app_type == 1) || ([2,8].includes(settings.app_type) && settings?.selected_template != 3)">
  <div class="reccom-main_section">
    <h2 [style.color]="style?.baseColor" style="margin-top: 20px">Offered {{'products' | localization | translate}}</h2>
    <div class="row">
      <ng-container *ngIf="!isLoading; else skeleton">
        <div class="col-6 col-md-6 col-xl-4 col-lg-4 col-sm-6"
          *ngFor="let offer of specialOffers;trackBy:trackBySpecialDataFn">
          <app-product [product]="offer" [darkTheme]="isDarkTheme" [settings]="settings" [style]="style"
            [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)"></app-product>
        </div>
      </ng-container>

      <ng-template #skeleton>
        <div class="skeleton col-6 col-md-6 col-xl-4 col-lg-4 col-sm-6"
          *ngFor="let offer of util.generateFakeList(8);trackBy:trackByUtilOfferDataFn">
          <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;" *ngIf="settings?.selected_template == 1 && settings?.app_type == 1">

  <div class="categories-item-products">
    <div class="row">
      <ng-container *ngIf="!isLoading; else skeleton">
        <div class="col-md-6" *ngFor="let offer of specialOffers;trackBy:trackByOfferDataFn">
          <app-product [product]="offer" [darkTheme]="isDarkTheme" [settings]="settings" [style]="style"
            [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)"></app-product>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="skeleton col-md-6" *ngFor="let offer of util.generateFakeList(8);trackBy:trackByFakeListDataFn">
      <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
    </div>
  </ng-template>

</div>

<div class="container" style="margin-top: 30px;" *ngIf="settings?.selected_template == 3 && settings?.app_type == 1">

  <div class="categories-item-products">
    <div class="row">
      <ng-container *ngIf="!isLoading; else skeleton">
        <div class="col-md-6" *ngFor="let offer of specialOffers;trackBy:trackBySpecialOffersDataFn">
          <app-product [product]="offer" [darkTheme]="isDarkTheme" [settings]="settings" [style]="style"
            [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)"></app-product>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="skeleton col-md-6" *ngFor="let offer of util.generateFakeList(8);trackBy:trackByFakeListFn">
      <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
    </div>
  </ng-template>

</div>


<div class="container" style="margin-top: 30px;"
  *ngIf="settings?.selected_template == 2 && settings?.app_type == 1 && settings?.is_single_vendor == 1">

  <div class="categories-item-products">
    <div class="row">
      <ng-container *ngIf="!isLoading; else skeleton">
        <div class="col-md-3" *ngFor="let offer of specialOffers;trackBy:trackBySpecialOffersDataFn">
          <app-product [product]="offer" [darkTheme]="isDarkTheme" [settings]="settings" [style]="style"
            [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)"></app-product>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="skeleton col-md-3" *ngFor="let offer of util.generateFakeList(8);trackBy:trackByFakeListFn">
      <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
    </div>
  </ng-template>

</div>




<div class="container" style="margin-top: 30px;" *ngIf="settings?.selected_template == 4 && settings?.app_type == 1">

  <div class="categories-item-products">
    <div class="row">
      <ng-container *ngIf="!isLoading; else skeleton">
        <div class="col-md-6" *ngFor="let offer of specialOffers;trackBy:trackBySpecialOffersFn">
          <app-product [product]="offer" [darkTheme]="isDarkTheme" [settings]="settings" [style]="style"
            [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)"></app-product>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="skeleton col-md-6" *ngFor="let offer of util.generateFakeList(8);trackBy:trackByUtilOfferFn">
      <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
    </div>
  </ng-template>

</div>



<div class="container offers" *ngIf="settings?.selected_template == 3 && settings?.app_type == 2">
  <div class="row">

    <ng-container *ngIf="!isLoading; else skeleton">
      <div class="col-md-4" *ngFor="let offer of specialOffers.slice(0,3);trackBy:trackByOfferFn">
        <div class="offer-div cursor" (click)="productDetail(offer)">
          <img appImage [url]="offer?.image_path" [size]="'550x650'" [src]="offer?.image_path" [settings]="settings"
            onError="src = './assets/images/placeholder_image.svg'" alt="Image 1" class="cursor"
            (click)="categoryDetail(category)">

          <h4 data-toggle="tooltip" [title]="offer?.name">{{offer?.name}}</h4>
          <div class="offer-discount" *ngIf="offer?.discount" style="min-height: 20px; line-height: 24px;">
            {{offer?.discount}}% <span>off</span></div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #skeleton>
    <div class="skeleton col-md-4" *ngFor="let offer of util.generateFakeList(3);trackBy:trackByUtilDataFn">
      <img>
    </div>
  </ng-template>
</div>


<div *ngIf="settings?.isCustomFlow && isMobile">
  <ng-container *ngIf="offerCategories.length; else noCustomData">
    <section *ngFor="let category of offerCategories;trackBy:trackByCategoryFn"
      class="marketplace-categories marketplace-deal">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="marketplace-categories_heading">
              <h3 [style.color]="style.baseColor">Top Deals in {{category.name}}</h3>
            </div>
          </div>
          <div *ngFor="let product of (category.value);trackBy:trackByProductFn" class="col-md-4">
            <div *ngIf="product.type != 8" class="box demo-design">
              <div class="top">
                <img appImage [url]="product?.image_path" [size]="'105x190'" [src]="product?.image_path"
                  [settings]="settings" onError="src = './assets/images/placeholder_image.svg';">
              </div>
              <div class="btm">
                <div class="d-flex no-img">
                  <div class="text">
                    <strong data-toggle="tooltip" [title]="product?.name" style="color: rgb(54, 54, 54);">
                      {{product?.name}}
                    </strong>

                    <p data-toggle="tooltip" [title]="product?.supplier_name" style="color: rgb(54, 54, 54);">
                      {{product?.supplier_name}} </p>
                    <h5>upto {{product?.discountPercentage}}% off</h5>
                  </div>
                </div>
                <hr
                  style="background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(250, 237, 204, 0.53)), to(rgba(250, 237, 204, 0.53)), color-stop(0.5, rgb(54, 54, 54)));">
                <button class="text-uppercase" type="button" (click)="onViewDetail(product)">{{'View Details' |
                  translate}}</button>
              </div>
            </div>
            <div *ngIf="product.type == 8" class="box">
              <div class="top">
                <img appImage [url]="product?.image_path" [size]="'350x150'" [src]="product?.image_path"
                  [settings]="settings" onError="src = './assets/images/placeholder_image.svg';">
              </div>
              <div class="btm" style="background-color: rgba(250, 237, 204, 0.22);">
                <div class="d-flex no-img">
                  <div class="text">
                    <strong data-toggle="tooltip" [title]="product?.name" style="color: rgb(54, 54, 54);">
                      {{product?.name}}
                    </strong>

                    <p data-toggle="tooltip" [title]="product?.supplier_name" style="color: rgb(54, 54, 54);">
                      {{product?.supplier_name}} </p>
                    <!-- <h5>Oud Metha, Dubai</h5> -->
                  </div>
                </div>
                <hr
                  style="background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(250, 237, 204, 0.53)), to(rgba(250, 237, 204, 0.53)), color-stop(0.5, rgb(54, 54, 54)));">
                <button class="text-uppercase" type="button" style="color: rgb(155, 139, 95);"
                  (click)="onViewDetail(product)">{{'View Details' | translate}}</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-template #noCustomData>
    <div class="mixed-no-data">
      <h4 [style.color]="style.baseColor">No Data Found</h4>
    </div>
  </ng-template>
</div>