<!-------------------contact us page ------------------>
<section class="bg-light_black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main_heading-2">
          <h1>Contact</h1>
          <span>We'd <i class="fa fa-heart-o" aria-hidden="true"></i> to help!</span>
          <p>We like to create things with fun, open-minded people. Feel free to say hello !</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 form_section">
        <form action="">
            <input type="text" id="" name="name" placeholder="Your Name">
            <input type="text" id="" name="email" placeholder="Email">
            <textarea id="" name="subject" placeholder="Message" style="height:170px"></textarea>
            <button type="button" class="btn btn-default m_btn">Send</button>
        </form>
      </div>
      <div class="col-md-6 contact-us">
        <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Ras Al Khor Ind 3 POBox 74566 <br>Dubai - UAE</span></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+971 4 547 0600">+971 4 547 0600</a></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@pickitt.ae">info@pickitt.ae</a></li>
        </ul>
        <hr>
        <ol>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ol>
      </div>
  </div>
  </div>
</section>