hr {
  border: 1px solid #cecece61;
}

.col-md-2 .spechial_products_image{
  height: 126px;
}

.spechial_products_outter {
  min-height: 220px;
}
.sorting-btn {
  float: right;
  margin-left: 20px;
  margin-top: -4px;
}