.banner-link {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.toplevel {
    display: flex;
    align-items: center;
    height: 3.5rem;
    font-size: 1.375rem;
    padding: 0 1rem;
    text-decoration: none;
    margin: 0;
}

.label {
    font-weight: 600;
    color: #333;
    font-family: display,Helvetica,Arial,sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
}

ul.menu-1 {
    padding-bottom: 1rem;
    list-style: none;
    font-size: 16px;
    padding-top: 61rem;
}

ul.menu-1 li {
    background-color: transparent;
    height: auto;
    text-align: left;
    overflow: visible;
    line-height: 1.1875;
    margin-left: -5.7rem;
}

.storemap {
    display: flex;
    align-items: center;
    height: 2.5rem;
    position: relative;
    padding-left: 3.25rem;
    padding-right: .5rem;
    color: inherit;
    text-decoration: none;
}