<div class="headerrit" *ngIf="!settings?.isCustomFlow || (settings?.isCustomFlow && settings?.app_type <= 10)">
    <ul class="new-top-header-right">
        <!-- <i class="fa fa-language" aria-hidden="true"
            [style.color]="style?.topHeaderTextColor || style?.headerTextColor"></i> -->
        <li class="nav-item dropdown language-dropdown">
            <a class="nav-link dropdown-toggle" style="cursor: pointer;"
                [style.backgroundColor]="style.footerSecColor || style.topHeaderBackgroundColor || style.headerBackgroundColor"
                data-toggle="dropdown" id="navbarDropdown"
                [style.color]="style?.topHeaderTextColor || style?.headerTextColor">
                <!-- <img *ngIf="!!selectedLang?.country_code"
            [src]="'https://www.countryflags.io/' + selectedLang?.country_code + '/flat/16.png'"> -->
                {{selectedLang?.language_code}}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu drop-menu">
                <span *ngFor="let lang of langData;trackBy:trackByFn;">
                    <a class="dropdown-item pd pointer" (click)="languageSelect(lang)"
                        [style.backgroundColor]="style.footerSecColor || style.topHeaderBackgroundColor || style.headerBackgroundColor"
                        [style.color]="style?.topHeaderTextColor || style?.headerTextColor">
                        <!-- <img *ngIf="!!selectedLang?.country_code"
                [src]="'https://www.countryflags.io/' + lang?.country_code + '/flat/16.png'"> -->
                        {{lang?.language_name | translate}}
                    </a>
                </span>
            </div>
        </li>
    </ul>
</div>
  

<ul class="new-top-header-right" *ngIf="settings?.isCustomFlow && settings?.app_type > 10">
    <h3 [style.color]="style?.topHeaderTextColor || style?.headerTextColor">{{'Language' | translate}}</h3>
    <li class="nav-item dropdown language-dropdown">
      <a class="nav-link dropdown-toggle" style="cursor: pointer;"
        [style.backgroundColor]="style.footerSecColor || style.topHeaderBackgroundColor || style.headerBackgroundColor"
        data-toggle="dropdown" id="navbarDropdown"
        [style.color]="style?.topHeaderTextColor || style?.headerTextColor">
        <!-- <img *ngIf="!!selectedLang?.country_code"
          [src]="'https://www.countryflags.io/' + selectedLang?.country_code + '/flat/16.png'"> -->
        {{selectedLang?.language_name | translate}}
        <i [style.color]="style?.topHeaderTextColor || style?.headerTextColor" class="fa fa-caret-down" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu drop-menu">
        <span *ngFor="let lang of langData;trackBy:trackBylangFn;">
          <a class="dropdown-item pd cursor" (click)="languageSelect(lang)"
            [style.backgroundColor]="style.footerSecColor || style.topHeaderBackgroundColor || style.headerBackgroundColor"
            [style.color]="style?.topHeaderTextColor || style?.headerTextColor">
            <!-- <img *ngIf="!!selectedLang?.country_code"
              [src]="'https://www.countryflags.io/' + lang?.country_code + '/flat/16.png'"> -->
            {{lang?.language_name | translate}}
          </a>
        </span>
      </div>
    </li>
  </ul>