<ng-container [ngSwitch]="settings?.selected_template">
    <ng-template [ngSwitchCase]="1">

        <section id="product-categories" *ngIf="recentOrdersList.length" class="top-selling-Dishes"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                    <h2 *ngIf="settings?.recent_order_section">
                                        {{settings?.recent_order_section?.section_name  | translate}}</h2>
                                    <h2 *ngIf="!settings?.recent_order_section">{{'Last Orders'  | translate}}
                                    </h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-6" *ngFor="let ord of recentOrdersList;let i=index">
                                    <app-food-order [order]="ord" [settings]="settings" [style]="style"
                                        (cancel)="cancelOrder(ord)"></app-food-order>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-4" *ngFor="let supplier of util.generateFakeList(4)">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template>
    <ng-template [ngSwitchCase]="3">

        <section id="product-categories" *ngIf="recentOrdersList.length" class="top-selling-Dishes"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                    <h2 *ngIf="settings?.recent_order_section">
                                        {{settings?.recent_order_section?.section_name  | translate}}</h2>
                                    <h2 *ngIf="!settings?.recent_order_section">{{'Last Orders'  | translate}}
                                    </h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-4" *ngFor="let ord of recentOrdersList;let i=index">
                                    <app-food-order [order]="ord" [settings]="settings" [style]="style"
                                        (cancel)="cancelOrder(ord)"></app-food-order>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-4" *ngFor="let supplier of util.generateFakeList(4)">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template>

</ng-container>