<ng-container [ngSwitch]="settings?.selected_template">
    <!-- new added -->
    <!-- <ng-template [ngSwitchCase]="4">

        <section id="product-categories" class="spechil-offer"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row"> 

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="Restaurants-heading">
                                    <h3 class="text-center mb-4"><b
                                            class="ml-5">{{'Recommended Restaurants' | translate}}</b>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a (click)="onSeeMore()" class="m-btn cursor">View All</a>
                            </div>


                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-4" *ngFor="let supplier of allSuppliers.slice(0,6)">
                                    <app-supplier [supplier]="supplier" [style]="style" [settings]="settings"
                                        [darkTheme]="isDarkTheme">
                                    </app-supplier>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-6" *ngFor="let supplier of util.generateFakeList(4)">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more text-center">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template> -->

    <ng-template [ngSwitchCase]="4">

        <section id="product-categories"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''"
            *ngIf="allSuppliers.length">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mb-4">
                        <div class="gernal-product-title">
                            <h1>{{'Recommended Restaurants' | translate}}</h1>
                            <a (click)="onSeeMore()" [style.background-color]="style?.primaryColor"
                                class="m-btn main_btn v_all cursor">View All</a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-4" *ngFor="let supplier of allSuppliers.slice(0,6);trackBy:trackByAllSuppFn">
                                    <app-supplier [supplier]="supplier" [style]="style" [settings]="settings"
                                        [darkTheme]="isDarkTheme">
                                    </app-supplier>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-6" *ngFor="let supplier of util.generateFakeList(4);trackBy:trackBySuppFakeListFn">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more" *ngIf="count>6">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template>


</ng-container>