<ng-container [ngSwitch]="settings?.selected_template">
    <ng-template [ngSwitchCase]="1">

        <section id="product-categories" class="top-selling-Dishes"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row">

                    <!-- <div class="col-md-3">
                        <div class="product-categories" [ngClass]="cat_fixed ? 'product-categories-scroll' : ''">
                            <h2 *ngIf="settings?.show_tags_for_suppliers">{{'tags' | localization | translate}}</h2>
                            <h2 *ngIf="!settings?.show_tags_for_suppliers">
                                {{'categories' | localization | translate}}
                            </h2>
                            <ul *ngIf="categoryData && categoryData.length">
                                <li *ngFor="let category of categoryData.slice(0, category_length)">
                                     <a (click)="supplierList(category)" style="cursor: pointer;">
                                        <div class="Categories-img">
                                            <img appImage [url]="category?.image" [size]="'50x50'" [settings]="settings"
                                                [src]="category?.tag_image"
                                                onError="src = '/assets/images/placeholder_image.svg';">
                                        </div>
                                        <p class="ellipsis" data-toggle="tooltip" [title]="category?.name">
                                            {{category?.name}}</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="see-more" *ngIf="categoryData.length > 12">
                                <a *ngIf="categoryData.length > category_length"
                                    (click)="category_length = categoryData.length"
                                    style="cursor: pointer;">{{'View More' | translate}}</a>
                                <a *ngIf="categoryData.length <= category_length" (click)="category_length = 12"
                                    style="cursor: pointer;">{{'View Less' | translate}}</a>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                    <h2 *ngIf="settings?.top_selling_section">
                                        {{settings?.top_selling_section?.section_name  | translate}}</h2>
                                    <h2 *ngIf="!settings?.top_selling_section">{{'Top-Selling Dishes'  | translate}}
                                    </h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-4" *ngFor="let dish of topSellingDishes.slice(0,6);trackBy:trackByDishFn;">
                                    <!-- <app-supplier [supplier]="dish" [style]="style" [settings]="settings"
                                        [darkTheme]="isDarkTheme">
                                    </app-supplier> -->
                                    <app-product [product]="dish" [state]="productstate" [darkTheme]="isDarkTheme"
                                        [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                                        (add)="addProduct($event)" (remove)="removeProduct($event)">
                                    </app-product>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-4" *ngFor="let supplier of util.generateFakeList(4);trackBy:trackBySuppFn;">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template>
    <ng-template [ngSwitchCase]="3">

        <!-- <section id="product-categories" class="top-selling-Dishes"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                    <h2 *ngIf="settings?.top_selling_section">
                                        {{settings?.top_selling_section?.section_name  | translate}}</h2>
                                    <h2 *ngIf="!settings?.top_selling_section">{{'Top-Selling Dishes'  | translate}}
                                    </h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">

                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-4" *ngFor="let dish of topSellingDishes.slice(0,6)">
                                    <app-product [product]="dish" [state]="productstate" [darkTheme]="isDarkTheme"
                                        [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                                        (add)="addProduct($event)" (remove)="removeProduct($event)">
                                    </app-product>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-4" *ngFor="let supplier of util.generateFakeList(4)">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section> -->



        <section id="gernal-product-slider" class="spechil-offer">
            <div class="container">

                <div class="row" *ngIf="topSellingDishes && topSellingDishes.length">
                    <div class="col-md-3">
                        <div class="gernal-product-title">
                            <h1 *ngIf="settings?.top_selling_section">
                                {{settings?.top_selling_section?.section_name | translate}}
                            </h1>
                            <h1 *ngIf="!settings?.top_selling_section">
                                 {{'Top-Selling Dishes' | translate}}
                            </h1>
                            <p class="mb-0"
                                *ngIf="settings?.eligible_order_amount && settings?.is_eligible_order_amount">
                                {{'Eligible on orders of $'}}{{settings?.eligible_order_amount+'+'}}</p>
                            <br />
                            <a style="color: #ffffff; cursor: pointer;" [style.background-color]="style?.primaryColor"
                                class="main_btn" (click)="onSeeMore()">{{'View All' | translate}}</a>
                        </div>
                    </div>
                    <div class="col-md-9 rec-sup">

                        <div *ngIf="!isLoading; else skeleton2">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let offer of topSellingDishes.slice(0,6); let i = index;trackBy:trackByTopSellingFn;"
                                    class="slide">
                                    <div class="item">
                                        <div class="product-item"
                                            [ngClass]="{'product-stock-out': offer?.quantity <= offer?.purchased_quantity}"
                                            style="margin-right: 30px; position: relative;">
                                            <img style="width: 100%; cursor: pointer;"
                                                (click)="porductDescription(offer)" appImage [url]="offer?.image_path"
                                                [settings]="settings" [size]="'355x320'" [src]="offer?.image_path"
                                                onError="src = '/assets/images/placeholder_image.svg';">
                                            <span
                                                class="offer_text position-absolute">{{offer?.discountPercentage}}%</span>
                                            <div *ngIf="offer?.quantity <= offer?.purchased_quantity"
                                                class="product-stock-out-msg">
                                                <p>{{'Out Of Stock' | translate}}</p>
                                            </div>
                                            <h2 class="ellipsis d-inline-flex">{{offer?.name}}</h2>
                                            <span class="rating_text_offr">
                                                <span class="rating_text"><i
                                                        class="fa fa-star ng-tns-c84-11 mr-2"></i>{{supplier?.rating}}
                                                    Review</span>
                                            </span>
                                            <a *ngIf="settings.is_product_wishlist == 1"
                                                class="favourite-icon float-right"
                                                (click)="wishlist(!offer?.is_favourite, offer)">
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g id="Page-1" stroke="none" stroke-width="2"
                                                        [attr.fill]="offer?.is_favourite ? style.primaryColor : 'none'"
                                                        fill-rule="evenodd">
                                                        <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                                            [attr.stroke]="offer?.is_favourite ? style.primaryColor : style.baseColor">
                                                            <g id="ic_heart_fill">
                                                                <path
                                                                    d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                                    id="Combined-Shape-Copy"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </a>
                                            <p class="ellipsis" *ngIf="((offer.product_desc).trim()).length > 100"
                                                [innerHtml]="(offer.product_desc) | innerHtmlLimit: 100 | safe: 'html'">
                                            </p>
                                            <p class="ellipsis" *ngIf="((offer.product_desc).trim()).length <= 100"
                                                [innerHtml]="(offer.product_desc) | safe: 'html'"></p>

                                            <!-- <p class="ellipsis" [innerHtml]="offer?.product_desc | safe: 'html'"></p> -->
                                            <div class="product-price-tag">
                                                <h6><span
                                                        style="font-size: 16px; margin-right: 8px; text-decoration: line-through; opacity: 0.8;">
                                                        {{currency}}{{offer.display_price}}
                                                    </span>
                                                    {{currency}}{{offer.fixed_price}}
                                                </h6>

                                                <div style="position: absolute; right: 30px;">
                                                    <app-quantity-buttons
                                                        *ngIf="offer?.quantity > offer?.purchased_quantity"
                                                        [disabled]="!!productstate.hideQuantity" [style]="style"
                                                        [settings]="settings"
                                                        [selectedQuantity]="offer?.selectedQuantity"
                                                        (onAdd)="increaseValue(offer)"
                                                        (onRemove)="decreaseValue(offer)">
                                                    </app-quantity-buttons>
                                                    <div class="customisable"> <span
                                                            *ngIf="offer.adds_on && offer.adds_on.length"
                                                            class="float-right customize-txt"
                                                            [ngStyle]="{'color': style.primaryColor}">{{'Customizable' | translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>

                        <ng-template #skeleton2>
                            <div class="skeleton">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfig">
                                    <div ngxSlickItem *ngFor="let item of util.generateFakeList(2); let i = index;trackBy:trackByUtilfakeFn;"
                                        class="slide">
                                        <div class="item">
                                            <div class="product-item" style="padding-right: 30px; position: relative;">
                                                <img style="width: 100%; cursor: pointer;">
                                                <h2 style="width: 50%; height: 16px;"></h2>
                                                <p style="width: 80%; height: 14px;"></p>
                                                <div class="product-price-tag">
                                                    <h6
                                                        style="width: 40%; font-size: 16px; margin-right: 8px; text-decoration: line-through;">
                                                    </h6>
                                                    <div style="position: absolute; right: 30px;">
                                                        <div style="height: 18px; width: 80px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </ng-template>

                    </div>
                </div>

            </div>
        </section>
    </ng-template>

</ng-container>