.app-dwnld {
    margin-right: 20px;
    a {
        img {
            height: 30px;
        }
    }
}
.add-header-search {
    display: flex;
}
.cust_location {
    position: absolute;
    bottom: 17%;
    right: 43%;
}
